.button {
  width: 50%;
  min-width: 200px;
  padding: 10px;
  font-size: 16px;

  transition: 0.3s;

  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &--primary {
    background-color: #7570d4;
    &:hover {
      background-color: #5e59c2;
    }
  }

  &--danger {
    background-color: #d12b2b;
    &:hover {
      background-color: #b71c1c;
    }
  }

  &--block {
    width: 100%;
  }
}
