.fields-type-selector {
  &__title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  select {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
