.layout {
  $line-color: grey;
  $padding: 20px 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    border-bottom: 1px solid $line-color;

    flex: 0 0 auto;
    padding: $padding;
  }

  &__main {
    flex: 1 0 auto;
    height: 1px;
  }

  &__aside {
    border-right: 1px solid $line-color;
    padding: $padding;
  }

  &__section {
    padding: 20px;
    overflow-y: scroll;
  }

  &__footer {
    border-top: 1px solid $line-color;

    padding: $padding;
    flex: 0 0 auto;
    text-align: center;
  }
}
